* {
    margin: 0;
    padding: 0;
    font-family: "Jaro", sans-serif;
    color: #ebe8de;
}

html, body {
    background-color: #0C0C21;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    z-index: 1000;
}

.header__banner-container {
    width: 100vw;
    height: 10vw;
    overflow: hidden;
    border-bottom: 3px solid #ebe8de;
    position: relative;
}

.header__banner {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center 65%;
    transform: scale(1.02);
}

nav {
    background-color: #ff4654;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 300px;
    list-style: none;
    font-size: 2rem;
}

main {
    padding-top: 10vw;
    flex: 1;
}

.home-h1 {
    font-size: 8rem;
    margin-top: 150px;
    margin-bottom: 60px;
    text-align: center;
}

h1:not(.valo-font) {
    font-weight: 100;
    letter-spacing: 0.5rem;
}

.valo-font {
    font-family: "VALORANT", sans-serif;
}

#categories {
    justify-content: center;
    text-align: center;
}

#categories h2 {
    font-size: 4.5rem;
    font-weight: 100;
    letter-spacing: 0.15rem;
    margin-bottom: 20px;
}

#arrowDownBtn {
    display: flex;
    margin-left: 50%;
    margin-bottom: 180px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: #ff4654;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#arrowDownBtn:hover {
    background-color: #a33e46;
}

#arrowDownBtn img {
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

#arrowDownBtn,
#categories li {
    display: flex;
    transition: background-color 0.3s ease-in-out;
    border-radius: 20%;
    background-color: #ff4654;
}

#arrowDownBtn:hover,
#categories li:hover {
    background-color: #a33e46;
}

#categories ul {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
    list-style: none;
    flex-direction: column;
}

#categories li {
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    padding: 0;
}

#categories img {
    width: 90px;
    max-width: 85%;
    max-height: 85%;
    transition: filter 0.3s ease-in-out;
}

#categories li:hover img {
    filter: invert(80%);
}

h3 {
    position: absolute;
    font-size: 1.35rem;
    color: #ebe8de;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#categories li:hover h3 {
    opacity: 1;
}

footer {
    margin-top: 100px;
    background: linear-gradient(90deg, #0f1923 0%, #ff4654 100%);
    padding: 25px;
    display: flex;
    bottom: auto;
}

footer .container {
    margin-left: 50%;
    transform: translateX(-50%);
    line-height: 0.8rem;
}

.footer__copyright,
.footer__small-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.footer__small-text {
    line-height: 1.3rem;
}

.footer__logos {
    list-style: none;
}

.footer__logos li {
    display: flex;
    justify-content: right;
}

.footer__logos img {
    width: 30px;
}

::-webkit-scrollbar {
    background-color: #d53643;
    width: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: #ebe8de;
}

h1:not(.home-h1) {
    font-size: 6.5rem;
    margin-top: 77px;
    margin-bottom: 60px;
    text-align: center;
}

.fullPortraitV2 {
    width: 50px;
}